<h1>Rock Paper Scissors Lizard Spock</h1>
<h1>Go!</h1>
<br />


  <a class="button" href="/rock"><img src="/img/rock.jpg" /></a> 

  <a class="button" href="/paper"><img src="/img/paper.jpg" /></a> 
  
  <a class="button" href="/scissors"><img src="/img/scissors.jpg" /></a> 

  <a class="button" href="/lizard"><img src="/img/lizard.jpg" /></a> 
  
  <a class="button" href="/spock"><img src="/img/spock.jpg" /></a> 

