<h1>Want To Play Rock Paper Scissors?</h1>
<br />
<br />


  <div type="button" class="button" href="/rock"><img src="/img/rock.jpg" /></div> 

  <div type="button" class="button" href="/paper"><img src="/img/paper.jpg" /></div> 
  
  <div type="button" class="button" href="/scissors"><img src="/img/scissors.jpg" /></div> 

  <div type="button" class="button" href="/lizard"><img src="/img/lizard.jpg" /></div> 
  
  <div type="button" class="button" href="/spock"><img src="/img/spock.jpg" /></div> 

