<h1>Want To Play Rock Paper Scissors?</h1>
<br />
<br />

<div id="container">

  <div class="button"><img src="/img/rock.jpg" /></div> 

  <div class="button"><img src="/img/paper.jpg" /></div> 
  
  <div class="button"><img src="/img/scissors.jpg" /></div> 

  <div class="button"><img src="/img/lizard.jpg" /></div> 
  
  <div class="button"><img src="/img/spock.jpg" /></div> 

</div>