<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link href="/styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body>

    <%= yield %>
  </body>
</html>