
.container {
  margin: 0 auto;
  width: 100%;
}

body {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
}

.picks {
  font-size: 50px;
  display: inline-block;
  padding: 20px;
}

div.winner {
  font-size: 80px;
}

h1 {
  font-size: 80px;
}


#play_again {
  font-size: 22px;
}